.finish {
  font-weight: bold;
  text-align: center;
}

.finish button {
  background-color: #8b4513;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
  color:ivory;
}

.finish button:hover {
  background: linear-gradient(to bottom right, #eeab2e, #FF8A39);

}

.trophy {
  border-radius: 20%;
  background: linear-gradient(to bottom right, #FED12A, #FF8A39);
	background-size: 400% 400%;
	animation: gradient 1s ease infinite;
  margin: 20px;
}

.finish p {
  font-size: large;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}